################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloWorldApp/HelloWorldApp/obj
/HelloWorldApp/.vs/HelloWorldApp/v17
/HelloWorldApp/.vs/HelloWorldApp/FileContentIndex
/HelloWorldApp/HelloWorldApp/bin/Debug/net7.0
/HelloWorldApp/.vs
/Calculator/.vs/Calculator
/Calculator/Calculator/bin/Debug/net7.0
/Calculator/Calculator/obj
