################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/HelloWorldApp/HelloWorldApp/obj
/HelloWorldApp/.vs/HelloWorldApp/v17
/HelloWorldApp/.vs/HelloWorldApp/FileContentIndex
